.palette-case {
    width:260px;
    margin:auto;
    text-align:center;
}
.palette-box {
    float:left;
    padding:2px 6px 2px 6px;
}
.palette {
    border:2px solid #777;
    height:36px;
    width:36px;
}
.red{
    background-color:#C40233;
}
.blue{
    background-color:#0087BD;
}
.green{
    background-color:#009F6B;
}
.yellow{
	background-color:#FFD300;
}
.black{
    background-color:#000;
    border:2px dashed #fff;
}
